@font-face {
  font-family: "iconfonts"; /* Project id 3847049 */
  src: url('https://at.alicdn.com/t/c/font_3847049_mr0suf5rvxc.woff2?t=1681214668666') format('woff2'),
       url('https://at.alicdn.com/t/c/font_3847049_mr0suf5rvxc.woff?t=1681214668666') format('woff'),
       url('https://at.alicdn.com/t/c/font_3847049_mr0suf5rvxc.ttf?t=1681214668666') format('truetype'),
       url('https://at.alicdn.com/t/c/font_3847049_mr0suf5rvxc.svg?t=1681214668666#iconfont') format('svg');
}

.iconfonts {
  font-family: "iconfonts" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e62f";
}

.icon-arrow-left:before {
  content: "\e630";
}

.icon-tianjia2:before {
  content: "\e614";
}

.icon-close:before {
  content: "\e60d";
}

.icon-27:before {
  content: "\e618";
}

.icon-dagou1:before {
  content: "\e607";
}

.icon-dingweixiao:before {
  content: "\e87e";
}

.icon-qiehuan:before {
  content: "\e629";
}

.icon-ai-arrow-down:before {
  content: "\e605";
}

.icon-dagou:before {
  content: "\e621";
}

.icon-wxpay:before {
  content: "\e611";
}

.icon-zhanghuyue:before {
  content: "\e60e";
}

.icon-zhifubaozhifu:before {
  content: "\e634";
}

.icon-tianjia:before {
  content: "\e622";
}

.icon-icon_share:before {
  content: "\e608";
}

.icon-sousuoxiao:before {
  content: "\e8d6";
}

.icon-sanjiaoxing_shang:before {
  content: "\e654";
}

.icon-daichuliyuyue_bifuben:before {
  content: "\e62a";
}

.icon-icon_duojixiala:before {
  content: "\e739";
}

.icon-renzheng:before {
  content: "\e70a";
}
